:root {
  --one-color: #FF7C52;
  --two-color: #FFA780;
  --three-color: #E69580;
  --four-color: #DCA7A3;
  --five-color: #FFE5D2;

  --nunito-font: "Nunito", sans-serif;
  --playfair-font: "Playfair Display", serif;
  --rubik-font: "Rubik", sans-serif;
  --mulish-font: "Mulish", sans-serif;
  --poppins-font: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html {
  font-size: 12px;
}

/* Main start */
main {
  font-family: var(--nunito-font);
  padding-top: 6rem !important;
  padding-bottom: 5rem;
}

.search-filter {
  font-family: var(--poppins-font);
}

.search-input, .search-btn, .select-field {
  border: 0.5px solid #C4C4C4;
  background: rgba(218, 218, 218, 0.27);

  padding: 1rem;
  border-radius: 0.5rem;
}

.search-input:focus, .search-btn:focus, .select-field:focus {
  outline: none;
  box-shadow: none;
  background: rgba(218, 218, 218, 0.27);
  border-color: #C4C4C4;
}

.search-field {
  width: 80%;
}
.search-input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.search-btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: none ;
  color: #393939;
}

.search-input {
  border-right: none;
}

.dropdown-icon {
  top: 35%;
  right: 10%;
}
/* Main end */

@media (min-width: 768px) {}
@media (min-width: 992px) {}