
html {
  font-size: 14px;
}

nav {
  font-family: Nunito, sans-serif;
  z-index: 1;
}

nav .navbar-toggler {
  border: none;
}

.jumbotron {
  background-image: url("../../assets/img/jumbotron.png");
  background-size: cover;
  width: 100%;
  height: 100%;

  padding-top: 8rem !important;
  padding-bottom: 10rem !important;
}

.hero-content > h1 {
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 4rem;
  /* line-height: 80px; */
  color: #FFFFFF;
  mix-blend-mode: normal;
}

.hero-content > p {
  font-family: Nunito, sans-serif;
  font-style: normal;
  font-weight: 900;
  color: #FFFFFF;
  font-size: 1.4rem;

  margin-top: 2.5rem;
}

.hero-content > .aesthetic-line {
  width: 10%;
  border: 1px solid #FFFFFF;
  background: #FFFFFF;
}

.hero-content select.select-input {
  font-family: Nunito, sans-serif ;
  font-style: normal;
  font-weight: bold;
  font-size: 1.125rem;
  color: #393939;
  mix-blend-mode: normal;

  background: rgba(255, 255, 255, 0.5);
  border: 0.8px solid #AFB0B9;
  border-radius: 6px;

  padding: 0.6rem;
}

.hero-content button.search-btn {
  font-family: Nunito;
  font-style: normal;
  font-weight: 900;
  font-size: 1.125rem;
  color: #393939;
  background: #FFCD61;
  border-radius: 8px;

  padding: 0.6rem 2rem;
}

.popular {
  margin-top: 3rem;
}

.popular a {
  display: none;
  color: #FB8F1D;
  text-decoration: none;

  font-family: Nunito, sans-serif;
  font-style: normal;
  font-weight: normal;

  font-size: 1.065rem;
}

.popular a .icon {
  font-size: 0.9rem;
}

.popular h2 {
  font-family: Playfair Display, sans-serif;
  font-style: normal;
  font-weight: bold;
}

.popular .popular-vehicles .image-wrapper {
  width: 75%;
  height: 23rem;
  margin-bottom: 1rem;
}

.popular .popular-vehicles img {
  border-radius: 0.5rem 0.5rem 0.5rem 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.popular .image-desc {
  background: #FFFFFF;
  border-radius: 0 0.5rem 0 0;
  padding: 1rem 5rem 0 1rem;
  bottom: -1px;
  left: -1px;
}

.popular .image-desc h3, .popular .image-desc p {
  font-family: Nunito, serif;
  color: #042521;
  font-style: normal;
}

.popular .image-desc h3 {
  font-weight: bold;
  font-size: 0.95rem;
}
.popular .image-desc p {
  font-size: 0.85rem;
}

@media (min-width: 768px) { 
  .hero-content > h1 {
    width: 50%;
  }

  .hero-content > p {
    margin-top: 2.5rem;
  }

  .hero-content > .aesthetic-line {
    width: 3.5%;
  }

  .select-group {
    width: 50%;
  }
}


@media (min-width: 992px) { 

  html {
    font-size: 16px;
  }
  
  nav a.nav-link {
    margin-inline: 1rem;
  }

  nav .navbar-nav {
    margin-inline: 1rem;
  }

  nav .auth > .btn {
    align-self: center;
    margin-inline: 0.7em;
    padding: 0.5em 2em;
  }

  nav .navbar-nav {
    align-items: center;
  }

  .jumbotron {
    padding-top: 10rem !important;
  }

  .hero-content > h1 {
    width: 35%;
  }

  .select-group {
    width: 40%;
  }

  .popular .head-section {
    margin-bottom: 3rem !important;
  }

  .popular a {
    display: block;
  }
}