:root {
  --one-color: #FF7C52;
  --two-color: #FFA780;
  --three-color: #E69580;
  --four-color: #DCA7A3;
  --five-color: #FFE5D2;
}

html {
  font-size: 12px;
}

a {
  color: #000000;
  text-decoration: none;
}

/* Navbar start */
nav {
  font-family: Nunito, sans-serif;
  z-index: 1;
}

nav .navbar-toggler {
  border: none;
}

nav .navbar-brand img, footer .ts img {
  width: 2.5625rem;
}

nav form input {
  border-top-left-radius: 0.4rem !important;
  border-bottom-left-radius: 0.4rem !important;
  padding: 0.875rem 1.35rem !important;
}

nav form .search-btn {
  border: 1px solid #ced4da;
  background: #FFFFFF;
  color: #B8BECD;
  border-top-right-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
  padding: 0 1.35rem !important;
}


nav form .search-btn:focus, nav form input:focus {
  box-shadow: none !important;
  border-color: #ced4da !important;
}

nav .profile .message-notif > img.message {
  max-height: 1.75rem;
}

nav .profile .message-notif .count {
  width: 1.25rem;
  height: 1.25rem;
  top: -0.5rem;
  left: -0.5rem;
  background: var(--one-color);

  font-family: 'Rubik', sans-serif;
  font-weight: bold;
  font-size: 0.625rem;

  padding-right: 0.1rem;
  padding-top: 0.1rem;

  color: #FFFFFF;
}

nav .profile img.profile-pict {
  width: 2.5rem;
  height: 2.5rem;
}
/* Navbar end */

@media (min-width: 992px) {
  html {
    font-size: 16px;
  }

  /* Navbar start */
  nav .profile img.profile-pict{
    margin-left: 2.5rem;
  }

  nav a.nav-link {
    margin-inline: 1rem;
  }

  nav .navbar-nav {
    margin-right: 7.2rem;
  }

  nav .navbar-nav {
    align-items: center;
  }
  /* Navbar end */
}