html {
  font-size: 12px;
}

body {
  height: 1000px;
}

/* Navbar start */
nav {
  font-family: Nunito, sans-serif;
  z-index: 1;
}

nav .navbar-toggler {
  border: none;
}

nav .navbar-brand img, footer .ts img {
  width: 2.5625rem;
}

nav .profile .message-notif > img.message {
  max-height: 1.75rem;
}

nav .profile .message-notif .count {
  width: 1.25rem;
  height: 1.25rem;
  top: -0.5rem;
  left: -0.5rem;
  background: #FFCD61;

  font-family: 'Rubik', sans-serif;
  font-weight: bold;
  font-size: 0.625rem;

  padding-right: 0.1rem;
  padding-top: 0.1rem;
}

nav .profile img.profile-pict {
  width: 2.5rem;
  height: 2.5rem;
}
/* Navbar end */

/* Main start */
main {
  padding-top: 7.5rem;
  padding-bottom: 3rem;
}

main .edit-title {
  font-family: Nunito;
  font-style: normal;
  color: #000000;
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 1.5rem;
}

main .contact img {
  width: 50%;
}

main .contact .contact-info h2 {
  font-family: Playfair Display, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.5rem;
  color: #000000;
}

main .contact .contact-info p {
  font-family: Nunito, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #B8BECD;

  margin: 0;
}

main .img-wrapper .contact-img {
  width: 9rem;
  object-fit: cover;
}

main .edit-btn {
  width: 3rem;
  height: 3rem;
  padding-top: 0.5rem;
  padding-right: 0.6rem;

  bottom: 0;
  right: 0;

  position: absolute;
}

main .gender {
  font-family: Nunito;
  font-style: normal;
  font-size: 1.5rem;
  color: #6A4029;

  margin-top: 4rem;
}

.checkmark {
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  border: 4px solid #9F9F9F;
}

.radio-input {
  position: relative;
}

.radio-input input {
  position: absolute;
  opacity: 0;
  left: 0;
  width: 1.8rem;
  height: 1.8rem;
  cursor: pointer;
}

.gender-option label {
  color: #9F9F9F;
  cursor: pointer;
}

.radio-input input:checked ~ .checkmark {
  background: #FFCD61;
  border: 5px solid #393939;
}

.radio-input input:checked ~ label {
  color: #393939;
  font-weight: bold;
}

main .gender {
  width: 75%;
}

main .form-section {
  font-family: Nunito, sans-serif;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 2rem;
}

main .form-section h2 {
  font-weight: 900;
  color: #4F5665;
}

main .form-section .input-lable {
  color: #9F9F9F;
}

main .form-section .text-input {
  border: none;
  border-bottom: 1px solid #000000;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  width: 100%;
}

main .form-section textarea.text-input {
  padding-top: 1rem;
  padding-bottom: 0 !important;
}

main .form-section .text-input:focus {
  outline: none;
}

main .form-section .button-groups button, main .form-section .button-groups a {
  font-weight: 900;
  padding: 0.875rem !important;
  margin-bottom: 1rem;
  border-radius: 0.625rem;

  font-size: 1.5rem;
  line-height: 2rem;
}

main .form-section .button-groups button.save {
  background: #FFCD61;
}

main .form-section .button-groups > a.edit-password {
  background: #393939;
  color: #FFCD61;
}

main .form-section .button-groups button.cancel {
  background:  rgba(203, 203, 212, 0.27);;
}
  /* Main end */

  /* Footer start */
footer {
  margin-top: 6rem;
  padding-top: 4.75rem;
  padding-bottom: 2rem;
  background: #F9F9FB;

  font-family: Mulish, sans-serif;
}

footer .wrapper .navigations .footer-nav {
  width: 50%;
  margin-bottom: 2rem;
}

footer .wrapper .navigations .footer-nav h3 {
  font-weight: bold;
  font-size: 1.1875rem;
  line-height: 3.75rem;
}

footer .wrapper .navigations .footer-nav ul {
  margin: 0;
  padding: 0;
}

footer .wrapper .navigations .footer-nav li {
  list-style: none;
  font-size: 1.125rem;
  line-height: 2.375rem;
}

footer .wrapper .navigations .footer-nav li a {
  color: #848484;
  text-decoration: none;
}

footer .wrapper .ts .copywriting {
  font-size: 1.125rem;
  margin-top: 1.6rem;
}

footer .wrapper .ts .copyright {
  font-size: 1.0625rem;
  margin-top: 3.3rem;
}

footer hr.line-separator {
  width: 80%;
  margin-top: 4.625rem;
  border: 1px solid #C4C4C4;
  background:#C4C4C4;
}

footer .socmed {
  margin-top: 2rem;
}

footer .socmed .icon {
  font-size: 1.375rem;
  margin-inline: 1rem;
}
  /* Footer end */
  
@media (min-width: 768px) { 
  /* Main start */
  main .form-section .button-groups button, main .form-section .button-groups a {
    padding: 2rem 4.5rem !important;
  }

  main .gender {
    width: 40%;
  }
  /* Main end */

  /* Footer start */
  footer .wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 4rem;
  }

  footer .wrapper .ts {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  footer .wrapper .navigations {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  /* footer .wrapper .ts .copywriting {
    width: 19rem;
  } */

  footer .wrapper .navigations .footer-nav {
    width: 33.33%;
  }
  /* Footer end */
}

@media (min-width: 992px) { 
  html {
    font-size: 16px;
  }
  
  /* Navbar start */
  nav .profile img.profile-pict{
    margin-left: 2.5rem;
  }

  nav a.nav-link {
    margin-inline: 1rem;
  }

  nav .navbar-nav {
    margin-right: 10.2rem;
  }

  nav .navbar-nav {
    align-items: center;
  }
  /* Navbar end */

  /* Main start */
  main .gender {
    width: 30%;
  }
  /* Main end */
  
  /* Footer start */
  footer .wrapper .ts .copywriting {
    width: 19rem;
  }
  /* Footer end */

}