html {
  font-size: 12px;
}

body {
  height: 1000px;
}

/* Navbar start */
nav {
  font-family: Nunito, sans-serif;
  z-index: 1;
}

nav .navbar-toggler {
  border: none;
}

nav .navbar-brand img, footer .ts img {
  width: 2.5625rem;
}

nav .profile .message-notif > img.message {
  max-height: 1.75rem;
}

nav .profile .message-notif .count {
  width: 1.25rem;
  height: 1.25rem;
  top: -0.5rem;
  left: -0.5rem;
  background: #FFCD61;

  font-family: 'Rubik', sans-serif;
  font-weight: bold;
  font-size: 0.625rem;

  padding-right: 0.1rem;
  padding-top: 0.1rem;
}

nav .profile img.profile-pict {
  width: 2.5rem;
  height: 2.5rem;
}
/* Navbar end */

/* Main start */
main {
  padding-top: 7.5rem;
  padding-bottom: 3rem;
}

main .edit-title {
  font-family: Nunito;
  font-style: normal;
  color: #000000;
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 1.5rem;
}

main .contact img {
  width: 50%;
}

main .contact .contact-info h2 {
  font-family: Playfair Display, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.5rem;
  color: #000000;
}

main .contact .contact-info p {
  font-family: Nunito, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #B8BECD;

  margin: 0;
}

main .img-wrapper .contact-img {
  width: 9rem;
  object-fit: cover;
}

main .edit-btn {
  width: 3rem;
  height: 3rem;
  padding-top: 0.5rem;
  padding-right: 0.6rem;

  bottom: 0;
  right: 0;

  position: absolute;
}

main .gender {
  font-family: Nunito;
  font-style: normal;
  font-size: 1.5rem;
  color: #6A4029;

  margin-top: 4rem;
}

main input[type="radio"] {
  border: 4px solid #9F9F9F;
}

main input[type="radio"]:checked {
  background: #FFCD61;
  border: 4px solid #393939;
}

main .gender .gender-option {
  margin-inline: 2rem;
}

main .form-section {
  font-family: Nunito, sans-serif;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 2rem;
}

main .form-section h2 {
  font-weight: 900;
  color: #4F5665;
}

main .form-section .input-lable {
  color: #9F9F9F;
}

main .form-section .text-input {
  border: none;
  border-bottom: 1px solid #000000;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  width: 100%;
}

main .form-section .text-input:focus {
  outline: none;
}

main .form-section .button-groups button, main .form-section .button-groups a {
  font-weight: 900;
  padding: 0.875rem !important;
  margin-bottom: 1rem;
  border-radius: 0.625rem;

  font-size: 1.5rem;
  line-height: 2rem;
}

main .form-section .button-groups button.save {
  background: #FFCD61;
}

main .form-section .button-groups > a.edit-password {
  background: #393939;
  color: #FFCD61;
}

main .form-section .button-groups button.cancel {
  background:  rgba(203, 203, 212, 0.27);;
}

  /* Main end */

@media (min-width: 768px) { 
  main .form-section .button-groups button, main .form-section .button-groups a {
    padding: 2rem 4.5rem !important;
  }
}

@media (min-width: 992px) { 
  html {
    font-size: 16px;
  }
  
  /* Navbar start */
  nav .profile img.profile-pict{
    margin-left: 2.5rem;
  }

  nav a.nav-link {
    margin-inline: 1rem;
  }

  nav .navbar-nav {
    margin-right: 10.2rem;
  }

  nav .navbar-nav {
    align-items: center;
  }
  /* Navbar end */
}