:root {
  --one-color: #FF7C52;
  --two-color: #FFA780;
  --three-color: #E69580;
  --four-color: #DCA7A3;
  --five-color: #FFE5D2;
}

html {
  font-size: 12px;
}

a {
  color: #000000;
  text-decoration: none;
}

/* Navbar start */
nav {
  font-family: Nunito, sans-serif;
  z-index: 1;
}

nav .navbar-toggler {
  border: none;
}

nav .navbar-brand img, footer .ts img {
  width: 2.5625rem;
}

nav form input {
  border-top-left-radius: 0.4rem !important;
  border-bottom-left-radius: 0.4rem !important;
  padding: 0.875rem 1.35rem !important;
}

nav form .search-btn {
  border: 1px solid #ced4da;
  background: #FFFFFF;
  color: #B8BECD;
  border-top-right-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
  padding: 0 1.35rem !important;
}


nav form .search-btn:focus, nav form input:focus {
  box-shadow: none !important;
  border-color: #ced4da !important;
}

nav .profile .message-notif > img.message {
  max-height: 1.75rem;
}

nav .profile .message-notif .count {
  width: 1.25rem;
  height: 1.25rem;
  top: -0.5rem;
  left: -0.5rem;
  background: var(--one-color);

  font-family: 'Rubik', sans-serif;
  font-weight: bold;
  font-size: 0.625rem;

  padding-right: 0.1rem;
  padding-top: 0.1rem;

  color: #FFFFFF;
}

nav .profile img.profile-pict {
  width: 2.5rem;
  height: 2.5rem;
}
/* Navbar end */

/* Main start */
main {
  padding-top: 6.125rem;
  padding-bottom: 3.125rem;
}

main button:focus {
  box-shadow: none !important;
} 

.back-btn {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: #000000;
}

.back-btn .back-icon {
  font-size: 1.5rem;
  margin-right: 1rem;
}

.detail-section img {
  width: 100%;
  border-radius: 0.625rem;
}

.detail-section {
  padding-top: 2rem;
}

.image-slider img {
  width: 35%;
}

.slide-control {
  font-size: 1.125rem;

  height: 50% !important;
  /* width: 20% !important; */
}

.desc-price > h1, .desc-price > .location, .desc-price > .price {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: 900;
  font-size: 1.75rem;
  line-height: 2.5rem;
  color: #042521;
}

.desc-price .location {
  font-weight: normal;
}

.availability, .prepayment, .vehicle-desc, .qty-number, .action-group {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1rem;
}

.vehicle-desc {
  line-height: 2rem;
}

.availability {
  color: #087E0D;
}

.prepayment {
  color: #9B0A0A;
}

.qty-number {
  font-size: 2rem;
  font-weight: 900;
}

.qty-control{
  /* background: rgba(203, 203, 212, 0.2); */
  background: var(--five-color);
  color: var(--one-color);
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
}

.qty-control.plus {
  background: var(--one-color);
  color: #FFFFFF;
}

.action-group .btn {
  background:var(--one-color);
  font-weight: 700;
  font-size: 1.15rem;
  padding: 4% 4.5%;
  color: var(--five-color);
  border-radius: 0.6rem;
}

.reservation {
  background: var(--five-color) !important;
  color: var(--one-color) !important;
}
/* Main end */

/* Footer start */
footer {
  /* margin-top: 6rem; */
  padding-top: 4.75rem;
  padding-bottom: 2rem;
  background: #F9F9FB;

  font-family: Mulish, sans-serif;
}

footer .wrapper .navigations .footer-nav {
  width: 50%;
  margin-bottom: 2rem;
}

footer .wrapper .navigations .footer-nav h3 {
  font-weight: bold;
  font-size: 1.1875rem;
  line-height: 3.75rem;
}

footer .wrapper .navigations .footer-nav ul {
  margin: 0;
  padding: 0;
}

footer .wrapper .navigations .footer-nav li {
  list-style: none;
  font-size: 1.125rem;
  line-height: 2.375rem;
}

footer .wrapper .navigations .footer-nav li a {
  color: #848484;
  text-decoration: none;
}

footer .wrapper .ts .copywriting {
  font-size: 1.125rem;
  margin-top: 1.6rem;
}

footer .wrapper .ts .copyright {
  font-size: 1.0625rem;
  margin-top: 3.3rem;
}

footer hr.line-separator {
  width: 80%;
  margin-top: 4.625rem;
  border: 1px solid #C4C4C4;
  background:#C4C4C4;
}

footer .socmed {
  margin-top: 2rem;
}

footer .socmed .icon {
  font-size: 1.375rem;
  margin-inline: 1rem;
}
/* Footer end */

@media (min-width: 768px) {

  /* Main start */

  .detail-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 3rem;
  }

  .banner {
    grid-column: 1 / 3;
  }

  .image-slider, .counter, .action-group {
    grid-column: 2 / 3;
  }

  .desc-price {
    grid-row: 2 / 5;
  }

  .action-group .btn {
    padding: 4% 5.5%;
  }
  /* Main end */

  /* Footer start */
  footer .wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 4rem;
  }

  footer .wrapper .ts {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  footer .wrapper .navigations {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  footer .wrapper .navigations .footer-nav {
    width: 33.33%;
  }
  /* Footer end */
}

@media (min-width: 992px) {
  html {
    font-size: 16px;
  }

  /* Navbar start */
  nav .profile img.profile-pict{
    margin-left: 2.5rem;
  }

  nav a.nav-link {
    margin-inline: 1rem;
  }

  nav .navbar-nav {
    margin-right: 7.2rem;
  }

  nav .navbar-nav {
    align-items: center;
  }
  /* Navbar end */

  /* Main start */
  main {
    padding-top: 9rem;
  }

  .back-btn {
    font-size: 2.25rem;
  }

  .back-icon {
    font-size: 2.6rem !important;
  }

  .detail-section {
    margin-top: 6rem;
    column-gap: 4.25rem;
    row-gap: 3rem;
  }

  .banner {
    grid-column: 1 / 2;
  }

  .image-slider {
    grid-column: 1 / 2;
  }

  .desc-price {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .action-group {
    grid-column: 1 / 3;
  }

  .desc-price h1,
  .desc-price .price {
    font-size: 3rem;
    line-height: 3.75rem;
  }

  .desc-price .location {
    font-size: 2.25rem;
    line-height: 3.75rem;
  }

  .availability, .prepayment, .vehicle-desc {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }

  .counter .qty-control, .counter .qty-number {
    font-size: 2rem;
  }
  
  .action-group .btn {
    padding: 2% 8%;
    font-size: 1.5rem !important;
  }
  /* Main end */

  /* Footer start */
  footer .wrapper .ts .copywriting {
    width: 19rem;
  }
  /* Footer end */
}